<div class="login-box">
  <div class="login-logo">
    <b>***XXX</b>System
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="javascript:void(0);" method="post">
        <div class="input-group mb-3">
          <input type="text" name="userName" class="form-control" placeholder="User Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" name="signBtn" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <p class="mb-0">
        <a href="/account/register" class="text-center">Register a new account</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<script type="text/javascript">
jQuery(function($) {
	$("[name='signBtn']").bind("click", function(){
		login();
	})

});

function login() {
	var user = {};
	user.userName = $("[name='userName']").val();
	user.password = $("[name='password']").val();
	user.rememberMe = $("#remember").prop('checked');

	$.ajax({
		url : "/api/login",
		type : "post",
		contentType: "application/json",
		data : JSON.stringify(user),
		success : function (data) {
			if (data.status == 200) {
				location.href = "/common/dashboard";
			} else {
				layer.msg(data.message, {icon: 0});
			}
		},
		error : function (data) {
			layer.msg(data.responseText, {icon: 0});
		}
	});
}
</script> 